@import "tailwindcss";

@theme inline {
  --color-brand: #00d094;

  --font-hanken: var(--font-hanken-grotesk), sans-serif;
  --font-inria: var(--font-inria-serif), serif;
  --font-kiwi: var(--font-kiwi-maru), serif;
  --font-caveat: var(--font-caveat), cursive;
}

body {
  font-family: var(--font-hanken-grotesk), sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.slide-up-init {
  opacity: 0;
  transform: translateY(30px);
}

/* .font-inria {
  font-family: var(--font-inria-serif), serif;
}

.font-hanken {
  font-family: (--font-hanken-grotesk), sans-serif;
} */

/* check swiper */
.checker .swiper-wrapper {
  flex-direction: column !important;
}

/* check swiper */
